<div class="p-16 bg-ctm-purple">
  <div class="p-8 bg-white shadow mt-24">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div
        class="grid grid-cols-3 text-center order-last md:order-first mt-20 md:mt-0"
      >
        <div>
          <p class="font-bold text-gray-700 text-xl">0</p>
          <p class="text-gray-400">Logros</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">0</p>
          <p class="text-gray-400">Puntos</p>
        </div>
        <div>
          <p class="font-bold text-gray-700 text-xl">0</p>
          <p class="text-gray-400">Partidas</p>
        </div>
      </div>
      <div class="relative">
        <div
          class="w-48 h-48 bg-indigo-100 mx-auto rounded-full shadow-2xl absolute inset-x-0 top-0 -mt-24 flex items-center justify-center text-indigo-500"
        >
          <img
            src="./assets/images/avatars/{{ userData.profile_img }}"
            class="w-50 h-50 rounded-full shadow-lg shadow-black/30"
          />
        </div>
      </div>
      <div class="space-x-8 flex mt-32 md:mt-0 justify-center">
        <button
          class="text-white py-2 px-4 uppercase rounded bg-gray-700 hover:bg-gray-800 shadow hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
        >
          Perfil
        </button>
      </div>
    </div>
    <div class="mt-20 text-center border-b pb-12">
      <h1 class="text-4xl font-medium text-gray-700">
        {{ userData.name }}
        <span class="font-light text-gray-500">ID: #{{ userData.id }}</span>
      </h1>
      <p class="mt-2 text-gray-500">{{ userData.email }}</p>
      <p class="mt-8 text-gray-500">
        Password:
        <span class="bg-green-300 rounded-full text-green-700 px-5">{{
          userData.password
        }}</span>
      </p>
    </div>
    <div class="mt-12 flex flex-col justify-center">
      <p class="text-center pb-5">Descripción</p>
      <p class="text-gray-600 text-center font-light lg:px-16">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        voluptatum exercitationem, distinctio sequi tempore nisi eaque fugit
        amet sunt, sit quibusdam nulla nobis veritatis deleniti, dolores
        asperiores in. Voluptatum, perferendis! Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Quibusdam recusandae mollitia quidem quo
        minus nisi ipsum? Quos, dolorum similique magnam, tempora voluptatum
        labore dolore quisquam quaerat repudiandae voluptate dignissimos optio.
      </p>
    </div>
  </div>
</div>
