@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@300&display=swap'); /*poppins*/
/**font-family: 'Poppins', sans-serif;**/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');/*roboto*/
/**font-family: 'Roboto', sans-serif;**/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300;400&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');/*Quicksand*/
/**font-family: 'Quicksand', sans-serif; **/
/*COLOR PRIMARIO*/
:root{
  --clr-primary: #1D3557;
  --clr-secondary: #E63946;
  --clr-light: #F1FAEE;
  --clr-dark: #000000;
  --clr-light-blue: #A8DADC;
  --clr-blue: #457B9D;
  --clr-dark-bg: #191528;
}

.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: var(--clr-secondary) !important;
  border: transparent !important;
  border-radius: 20px !important;
  color: white !important;
}

.ngx-pagination .current:hover {
  background: var(--clr-secondary) !important;
  border-radius: 20px !important; 
  border: transparent !important;
}

.ngx-pagination a {
  color: white !important;
}

.ngx-pagination a:hover {
  color: var(--clr-secondary) !important;
  border-radius: 20px !important;
}


