<div class="bg-ctm-purple relative pt-40 pb-20 lg:pt-44">
  <div class="relative xl:container m-auto px-6 md:px-12 lg:px-6">
    <h1
      class="sm:mx-auto sm:w-10/12 md:w-2/3 font-black text-white text-4xl text-center sm:text-5xl md:text-6xl lg:w-auto lg:text-left xl:text-7xl"
    >
      Vive la aventura con tus amigos
      <br class="lg:block hidden" />
      <span
        class="relative text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-cyan-300"
        >The Elements</span
      ><span><i class="fa-solid fa-gem ml-3 w-10"></i></span>
    </h1>
    <div class="lg:flex">
      <div
        class="relative mt-8 md:mt-16 space-y-8 sm:w-10/12 md:w-2/3 lg:ml-0 sm:mx-auto text-center lg:text-left lg:mr-auto lg:w-7/12"
      >
        <p class="sm:text-lg text-gray-300 lg:w-11/12">
          DailyBot takes chat and collaboration to the next level: daily
          standups, team check-ins, surveys, kudos, best companion bot for your
          virtual watercooler, 1:1 intros, motivation tracking and more.
        </p>
        <span class="block font-semibold text-gray-400"
          >The best companion bot for your chat app.</span
        >
        <div
          class="grid grid-cols-3 space-x-4 md:space-x-6 md:flex md:justify-center lg:justify-start"
        >
          <a
            aria-label="add to slack"
            href="#"
            class="p-4 border bg-transparent border-gray-700 rounded-full duration-300 hover:border-red-400 hover:shadow-lg hover:shadow-red-600/20 hover:border-red-300/30"
          >
            <div class="flex justify-center space-x-4">
              <img
                class="w-6 h-6"
                src="./assets/images/tech/github.png"
                alt="slack logo"
                loading="lazy"
                width="128"
                height="128"
              />
              <span class="hidden font-medium md:block text-white">Github</span>
            </div>
          </a>
          <a
            aria-label="add to chat"
            href="/contact"
            class="p-4 border bg-transparent border-gray-700 rounded-full duration-300 hover:border-green-400 hover:shadow-lg hover:shadow-lime-600/20 hover:border-green-300/30"
          >
            <div class="flex justify-center space-x-4">
              <img
                class="w-6 h-6"
                src="./assets/images/tech/message.png"
                alt="chat logo"
                loading="lazy"
                width="128"
                height="128"
              />
              <span class="hidden font-medium md:block text-white"
                >Contáctanos</span
              >
            </div>
          </a>
          <a
            aria-label="add to zoom"
            href="#"
            class="p-4 border bg-transparent border-gray-700 rounded-full duration-300 hover:border-blue-400 hover:shadow-lg hover:shadow-blue-600/20 hover:border-blue-300/30"
          >
            <div class="flex justify-center space-x-4">
              <img
                class="w-6 h-6"
                src="./assets/images/tech/download.png"
                alt="chat logo"
                loading="lazy"
                width="128"
                height="128"
              />
              <span class="hidden font-medium md:block text-white"
                >Descargar</span
              >
            </div>
          </a>
        </div>

        <div class="pt-12 flex gap-6 lg:gap-12 justify-between lg:w-2/3">
          <img
            src="./assets/images/tech/c++.svg"
            class="h-8 sm:h-10 w-auto lg:h-12 grayscale hover:grayscale-0"
            alt=""
          />
          <img
            src="./assets/images/tech/mysql.svg"
            class="h-8 sm:h-10 w-auto lg:h-12 grayscale hover:grayscale-0"
            alt=""
          />
          <img
            src="./assets/images/tech/angular.svg"
            class="h-8 sm:h-10 w-auto lg:h-12 grayscale hover:grayscale-0"
            alt=""
          />
          <img
            src="./assets/images/tech/laravel.svg"
            class="h-8 sm:h-10 w-auto lg:h-12 grayscale hover:grayscale-0"
            alt=""
          />
        </div>
      </div>
      <div class="mt-12 md:mt-0 lg:absolute -right-10 lg:w-7/12">
        <div class="relative w-full">
          <div class="container">
            <img src="./assets/orbe.gif" class="d-block mx-auto" alt="..." />
            <!-- Button trigger modal -->
            <button
              class="btn glow-on-hover"
              type="button"
              data-te-toggle="modal"
              data-te-target="#exampleModalFullscreen"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <i
                class="fa-solid fa-play text-4xl ml-2 active:text-gray-300"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    data-te-modal-init
    class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
    id="exampleModalFullscreen"
    tabindex="-1"
    aria-labelledby="exampleModalFullscreenLabel"
    aria-hidden="true"
  >
    <div
      data-te-modal-dialog-ref
      class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[0px]:m-0 min-[0px]:h-full min-[0px]:max-w-none"
    >
      <div
        class="pointer-events-auto relative flex w-full flex-col rounded-md bg-ctm-purple bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600 min-[0px]:h-full min-[0px]:rounded-none min-[0px]:border-0"
      >
        <div
          class="flex flex-shrink-0 items-center justify-between rounded-t-md min-[0px]:rounded-none"
        >
          <h5
            class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
            id="exampleModalFullscreenLabel"
          >
            Gameplay
          </h5>
          <button
            type="button"
            class="box-content rounded-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
            data-te-modal-dismiss
            aria-label="Close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-10 w-10 text-white"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div
          class="relative p-4 min-w-full max-w-full min-h-full max-h-full bg-transparent"
        >
          <video
            autoplay
            muted
            loop
            class="embed-responsive-item absolute top-0 right-0 bottom-0 left-0 w-full h-full z-50"
          >
            <source src="./assets/videos/gameplay.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</div>
