<section class="p-5">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg h-screen">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Image</span>
          </th>
          <th scope="col" class="px-6 py-3">Mapa</th>
          <th scope="col" class="px-6 py-3">Jugadores</th>
          <th scope="col" class="px-6 py-3">Puntuación</th>
          <th scope="col" class="px-6 py-3">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
          *ngFor="let game of gamesRecord"
        >
          <td class="w-32 p-4">
            <img
              src="./assets/images/maps/{{ game.map_img }}"
              alt="Apple Watch"
            />
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ game.map_name }}
          </td>
          <td class="px-6 py-4">
            <div
              class="flex items-center space-x-4"
              *ngFor="let player of game.players"
            >
              <img
                class="w-10 h-10 rounded-full"
                src="./assets/images/characters/{{player.char_img}}"
                alt=""
              />
              <div class="font-medium dark:text-white">
                <div>{{ player.username}}</div>
                <div class="text-sm text-gray-500 dark:text-gray-400">
                  {{player.char_name}}
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
            {{ game.score }}
          </td>
          <td class="px-6 py-4">
            {{ game.datetime }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
