.team{
    background-color: var(--red);
}

.edit_svg{
    width: 20px;
    height: 20px;
}
.edit_svg:hover{
    color: #e9c46a;
}
.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.layer1 {
    background-image: url('/assets/images/waves_2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.card {
    text-align: center;
    -webkit-transition: box-shadow .3s ease-out;
}

.card:hover {
    background-color: #F1FAEE;
    box-shadow: 1px 8px 20px rgba(3, 3, 3, 0.3);
    -webkit-transition: box-shadow .3s ease-in;
}

#animation_svg{
    width: 100px;
    height: 100px;
}

animate-bounce	{animation: bounce 1s infinite};

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}