<div class="w-full h-full sticky bg-ctm-purple pt-20">
  <div class="">
    <h1
      class="mt-50 text-center capitalize mb-4 text-5xl sm:text-6xl font-extrabold
      leading-none tracking-tight text-white  md:text-6xl xl:text-7xl">
      Conoce nuestro juego
    </h1>
  </div>

  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div
      class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          <h2
            class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6">
            The Elements
          </h2>
          <p class="text-gray-300 text-base md:text-lg">
            Este juego esta inspirado en el clásico juego de Fireboy & Watergirl pero
            con mas elementos jugables y Online hasta 4 jugadores!
          </p>
        </div>
        <div class="flex items-center space-x-3"></div>
      </div>
      <img
        alt="logo"
        width="450"
        height="450"
        src="./assets/images/characters/fireboy-watergirl.jpg"
        />
    </div>
  </div>

  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div
      class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <img
        alt="logo"
        width="300"
        height="300"
        src="./assets/images/characters/Fireboy.png"
        />

      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          <h2
            class="font-sans text-3xl sm:mt-0 mt-6 font-bold tracking-tight
            text-white sm:text-4xl sm:leading-none max-w-lg mb-6">
            Fireboy
          </h2>
          <p class="text-gray-300 text-base md:text-lg">
           ¡El elemento más caliente de todos! Mítico personaje del juego original, siempre va con su compañera WaterGirl.
          </p>
        </div>
        <div class="flex items-center space-x-3"></div>
      </div>
    </div>
  </div>

  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div
      class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          <h2
            class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6 capitalize">
            Watergirl
          </h2>
          <p class="text-gray-300 text-base md:text-lg">
           Fiel compañera de FireBoy repiten aventura juntos y se unen a sus compañeros para ayudarte a superar cualquier nivel.
          </p>
        </div>
        <div class="flex items-center space-x-3"></div>
      </div>
      <img
        alt="logo"
        width="300"
        height="300"
        src="./assets/images/characters/Watergirl.png"
        />
    </div>
  </div>

  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div
      class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <img
        alt="logo"
        width="300"
        height="300"
        src="./assets/images/characters/Rockboy.png"
        />

      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          <h2
            class="font-sans text-3xl sm:mt-0 mt-6 font-bold tracking-tight
            text-white sm:text-4xl sm:leading-none max-w-lg mb-6 capitalize">
            Rockoy
          </h2>
          <p class="text-gray-300 text-base md:text-lg">
            Nuevo elemento jugable, ¡Rockboy! No te dejes engañar por su simpática apariencia, esta decidido a hacer su debut junto con su compañera Cloudgirl
          </p>
        </div>
        <div class="flex items-center space-x-3"></div>
      </div>
    </div>
  </div>

  <div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div
      class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">
          <h2
            class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6 capitalize">
            Cloudgirl
          </h2>
          <p class="text-gray-300 text-base md:text-lg">
           Por último y no menos importante presentamos a Cloudgirl, novedoso elemento que dará todavía más juego a los niveles.
          </p>
        </div>
        <div class="flex items-center space-x-3"></div>
      </div>
      <img
        alt="logo"
        width="300"
        height="300"
        src="./assets/images/characters/Cloudgirl.png"
        />
    </div>
  </div>

  <div
    class="grid grid-cols-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 
    pb-12">
    <img
      alt="logo"
      width="300"
      height="300"
      src="./assets/images/characters/falling/Fireboy_cae.gif"
      />
    <img
      alt="logo"
      width="300"
      height="300"
      src="./assets/images/characters/falling/Watergirl_cae.gif"
      />
    <img
      alt="logo"
      width="300"
      height="300"
      src="./assets/images/characters/falling/Rockboy_cae.gif"
      />
    <img
      class="lg:mt-11 mt-3 sm:mt-0"
      alt="logo"
      width="300"
      height="300"
      src="./assets/images/characters/falling/Cloudgirl_cae.gif"
      />
  </div>
</div>

<section class="bg-white py-8">
  <h2
    class="mt-50 text-center mb-4 text-6xl font-extrabold leading-none
    tracking-tight md:text-6xl lg:text-6xl text-ctm-purple">
    ¡Descárgatelo y disfruta ahora!
  </h2>

  <!-- Component Start -->
  <div
    class="flex flex-col mx-auto my-20 border items-center w-full
    max-w-screen-md p-6 pb-6 bg-white rounded-lg shadow-xl sm:p-8">
    <h2 class="text-xl font-bold">Descargas Mensuales</h2>
    <span class="text-sm font-semibold text-gray-500">2023</span>
    <div class="flex items-end flex-grow w-full mt-2 space-x-2 sm:space-x-3">
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">37.500</span>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-6 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-16 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Jan</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">45.000</span>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-6 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-20 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Feb</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">47.500</span>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-20 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Mar</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">50.000</span>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-6 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-24 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Apr</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">47.500</span>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-20 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">May</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">55.000</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-24 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Jun</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">60.000</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-16 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-20 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Jul</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">57.500</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-24 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Aug</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">67.500</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-10 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-32 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Sep</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">65.000</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full bg-indigo-400 h-28"></div>
        <span class="absolute bottom-0 text-xs font-bold">Oct</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">70.000</span>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-40 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Nov</span>
      </div>
      <div class="relative flex flex-col items-center flex-grow pb-5 group">
        <span
          class="absolute top-0 hidden -mt-6 text-xs font-bold
          group-hover:block">75.000</span>
        <div
          class="relative flex justify-center w-full h-12 bg-indigo-200"></div>
        <div
          class="relative flex justify-center w-full h-8 bg-indigo-300"></div>
        <div
          class="relative flex justify-center w-full h-40 bg-indigo-400"></div>
        <span class="absolute bottom-0 text-xs font-bold">Dec</span>
      </div>
    </div>
    <div class="flex w-full mt-3">
      <div class="flex items-center ml-auto">
        <span class="block w-4 h-4 bg-indigo-400"></span>
        <span class="ml-1 text-xs font-medium">Existentes</span>
      </div>
      <div class="flex items-center ml-4">
        <span class="block w-4 h-4 bg-indigo-300"></span>
        <span class="ml-1 text-xs font-medium">Nuevos</span>
      </div>
      <div class="flex items-center ml-4">
        <span class="block w-4 h-4 bg-indigo-200"></span>
        <span class="ml-1 text-xs font-medium">Potenciales</span>
      </div>
    </div>
  </div>
  <!-- Component End  -->
</section>

<section class="text-gray-300 body-font px-5 py-10" id="reviews">
  <div class="container mx-auto">
    <div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
      <h3
        class="capitalize mt-50 text-center mb-4 text-6xl font-extrabold leading-none
        tracking-tight md:text-6xl lg:text-6xl text-white">
        Nuestras reseñas
      </h3>
      <p class="text-lg mb-6 pb-2 md:mb-12 md:pb-0">
        Esto es lo que opinan nuestros usuarios sobre nosotros.
      </p>
    </div>

    <div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12">
      <div
        class="mb-12 justify-center md:mb-0"
        *ngFor="
        let review of reviews
        | paginate
        : {
        itemsPerPage: ipp,
        currentPage: cp
        }
        ">
        <div class="mb-6 flex justify-center">
          <img
            src="./assets/images/avatars/{{ review.profileUrl }}"
            class="w-32 rounded-full shadow-lg dark:shadow-black/30"
            />
        </div>
        <h5 class="mb-4 text-xl font-semibold">{{ review.username }}</h5>
        <ul class="mb-2 flex items-center justify-center">
          <li *ngFor="let in of ratingCounter(review.rating)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-5 w-5 text-yellow-500">
              <path
                fill-rule="evenodd"
                d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007
                5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257
                5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373
                21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433
                2.082-5.006z"
                clip-rule="evenodd"
                />
              </svg>
            </li>
          </ul>
          <p class="mb-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="inline-block h-7 w-7 pr-2"
              viewBox="0 0 24 24">
              <path
                d="M13 14.725c0-5.141 3.892-10.519 10-11.725l.984
                2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392 4.396 2.547
                4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015
                0-5.801-2.305-5.801-6.275zm-13 0c0-5.141 3.892-10.519
                10-11.725l.984 2.126c-2.215.835-4.163 3.742-4.38 5.746 2.491.392
                4.396 2.547 4.396 5.149 0 3.182-2.584 4.979-5.199 4.979-3.015
                0-5.801-2.305-5.801-6.275z"
                />
              </svg>
              {{ review.comment }}
            </p>
            <div>
              <!-- <button
            *ngIf="isLoggedIn"
            class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
            (click)="modifyReview(review)"
            data-te-toggle="modal"
            data-te-target="#addModal"
            data-te-ripple-init
            data-te-ripple-color="light"
          >
            EDITAR
          </button> -->
              <button
                *ngIf="isLoggedIn"
                class="rounded-full inline-block bg-success p-2 mx-2 text-white
                shadow-[0_4px_9px_-4px_#14a44d] transition duration-150
                ease-in-out hover:bg-success-600
                hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)]
                focus:bg-success-600
                focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)]
                focus:outline-none focus:ring-0 active:bg-success-700
                active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)]"
                (click)="modifyReview(review)"
                data-te-toggle="modal"
                data-te-target="#editReviewModal"
                data-te-ripple-init
                data-te-ripple-color="light">
                <i class="fa-solid fa-pen w-6 h-4"></i>
              </button>

              <!-- <button
            *ngIf="isLoggedIn"
            class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
            (click)="deleteReview(review)"
          >
            ELIMINAR
          </button> -->
              <button
                *ngIf="isLoggedIn"
                type="button"
                class="inline-block rounded-full bg-danger p-2 text-white
                shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150
                ease-in-out hover:bg-danger-600
                hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]
                focus:bg-danger-600
                focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]
                focus:outline-none focus:ring-0 active:bg-danger-700
                active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)]"
                (click)="deleteReview(review)">
                <i class="fa-solid fa-trash w-6 h-4"></i>
              </button>

              <div *ngIf="showGet == true">
                <button (click)="ngOnInit()">Volver</button>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center m-10">
          <button
            *ngIf="isLoggedIn"
            class="inline-block cursor-pointer rounded
            bg-neutral-50 px-6 pt-2.5 pb-2 text-xs
            font-medium uppercase leading-normal 
            text-neutral-800 shadow-[0_4px_9px_-4px_#fbfbfb] 
            transition duration-150 ease-in-out 
            hover:bg-neutral-100 hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] 
            focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] 
            focus:outline-none focus:ring-0 
            active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)]"
            data-te-toggle="modal"
            data-te-target="#addModal"
            data-te-ripple-init
            data-te-ripple-color="light">
            <i class="fa-solid fa-plus"></i> AÑADIR RESEÑA
          </button>
        </div>
        <!-- Pagination -->
        <div class="flex items-center justify-center my-6">
          <pagination-controls (pageChange)="cp= $event"> </pagination-controls>
        </div>
      </div>

    </section>

    <!-- Edit Modal antiguo-->
    <div
      data-te-modal-init
      class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto
      overflow-x-hidden outline-none"
      id="editModal"
      tabindex="-1"
      aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div
        data-te-modal-dialog-ref
        class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0
        transition-all duration-300 ease-in-out min-[576px]:mx-auto
        min-[576px]:mt-7 min-[576px]:max-w-[500px]">
        <div
          *ngFor="let review of reviewToModify"
          class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)]
          pointer-events-auto relative flex w-full flex-col rounded-md
          border-none bg-white bg-clip-padding text-current shadow-lg
          outline-none">
          <div
            class="flex flex-shrink-0 items-center justify-between rounded-t-md
            border-b-2 border-neutral-100 border-opacity-100 p-4">
            <h5
              class="text-xl font-medium leading-normal text-neutral-800"
              id="editModalLabel">
              {{ review.username }}
            </h5>
            <button
              type="button"
              class="box-content rounded-none border-none hover:no-underline
              hover:opacity-75 focus:opacity-100 focus:shadow-none
              focus:outline-none"
              data-te-modal-dismiss
              aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="relative flex-auto p-4" data-te-modal-body-ref>
              <form [formGroup]="updateReviewForm"
                (ngSubmit)="updateReview(review)">
                <div class="modal-body relative p-4">
                  <textarea
                    rows="6"
                    cols="46"
                    placeholder="{{ review.comment }}"
                    id="comment"
                    formControlName="comment"></textarea>
                </div>
                <div
                  *ngIf="this.updateReviewForm.get('comment')?.errors?.['required']
                  &&
                  this.updateReviewForm.get('comment')?.touched"
                  class="form-text text-danger">
                  El comentario es obligatorio.
                </div>
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-end
                  rounded-b-md border-t-2 border-neutral-100 border-opacity-100
                  p-4">
                  <button
                    type="button"
                    class="inline-block rounded bg-primary-100 px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal
                    text-primary-700 transition duration-150 ease-in-out
                    hover:bg-primary-accent-100 focus:bg-primary-accent-100
                    focus:outline-none focus:ring-0
                    active:bg-primary-accent-200"
                    data-te-modal-dismiss
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="ml-1 inline-block rounded bg-primary px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal text-white
                    shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150
                    ease-in-out hover:bg-primary-600
                    hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:bg-primary-600
                    focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:outline-none focus:ring-0 active:bg-primary-700
                    active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    data-te-modal-dismiss
                    [disabled]="updateReviewForm.invalid">
                    Confirmar cambios
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Modal -->
      <div
        data-te-modal-init
        class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto
        overflow-x-hidden outline-none"
        id="editReviewModal"
        tabindex="-1"
        aria-labelledby="editReviewModalLabel"
        aria-hidden="true">
        <div
          data-te-modal-dialog-ref
          class="pointer-events-none relative w-auto translate-y-[-50px]
          opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto
          min-[576px]:mt-7 min-[576px]:max-w-[500px]">
          <div

            class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)]
            pointer-events-auto relative flex w-full flex-col rounded-md
            border-none bg-white bg-clip-padding text-current shadow-lg
            outline-none">
            <!--BODY-->
            <div class="relative flex-auto p-4" data-te-modal-body-ref>
              <form [formGroup]="updateReviewForm">
                <div class="modal-body relative p-4">
                  <textarea
                    rows="6"
                    cols="46"
                    id="comment"
                    formControlName="comment"></textarea>
                </div>
                <div
                  *ngIf="this.updateReviewForm.get('comment')?.errors?.['required']
                  &&
                  this.updateReviewForm.get('comment')?.touched"
                  class="form-text text-danger">
                  El comentario es obligatorio.
                </div>
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-end
                  rounded-b-md border-t-2 border-neutral-100 border-opacity-100
                  p-4">
                  <button
                    type="button"
                    class="inline-block rounded bg-primary-100 px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal
                    text-primary-700 transition duration-150 ease-in-out
                    hover:bg-primary-accent-100 focus:bg-primary-accent-100
                    focus:outline-none focus:ring-0
                    active:bg-primary-accent-200"
                    data-te-modal-dismiss
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="ml-1 inline-block rounded bg-primary px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal text-white
                    shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150
                    ease-in-out hover:bg-primary-600
                    hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:bg-primary-600
                    focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:outline-none focus:ring-0 active:bg-primary-700
                    active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    data-te-modal-dismiss
                    [disabled]="updateReviewForm.invalid">
                    Confirmar cambios
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- Add Modal -->
      <div
        data-te-modal-init
        class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto
        overflow-x-hidden outline-none"
        id="addModal"
        tabindex="-1"
        aria-labelledby="addModalLabel"
        aria-hidden="true">
        <div
          data-te-modal-dialog-ref
          class="pointer-events-none relative w-auto translate-y-[-50px]
          opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto
          min-[576px]:mt-7 min-[576px]:max-w-[500px]">
          <form [formGroup]="addReviewForm" (ngSubmit)="addReview()">
            <div
              class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)]
              pointer-events-auto relative flex w-full flex-col rounded-md
              border-none bg-white bg-clip-padding text-current shadow-lg
              outline-none">
              <div
                class="flex flex-shrink-0 items-center justify-between
                rounded-t-md border-b-2 border-neutral-100 border-opacity-100
                p-4">
                <input
                  type="text"
                  class="text-xl font-medium leading-normal text-gray-800"
                  id="addModalLabel"
                  formControlName="username"
                  placeholder="{{this.data_to_add.name}}"
                  />
                <div
                  *ngIf="this.addReviewForm.get('username')?.errors?.['required']
                  &&
                  this.addReviewForm.get('username')?.touched"
                  class="form-text text-danger">
                  El nombre de usuario es obligatorio.
                </div>
                <button
                  type="button"
                  class="box-content rounded-none border-none hover:no-underline
                  hover:opacity-75 focus:opacity-100 focus:shadow-none
                  focus:outline-none"
                  data-te-modal-dismiss
                  aria-label="Close">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="h-6 w-6">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>
                <div class="relative flex-auto p-4" data-te-modal-body-ref>
                  <textarea
                    rows="6"
                    cols="46"
                    placeholder="Escribe tu reseña..."
                    id="comment"
                    formControlName="comment"></textarea>
                </div>
                <div
                  *ngIf="this.addReviewForm.get('comment')?.errors?.['required']
                  &&
                  this.addReviewForm.get('comment')?.touched"
                  class="form-text text-danger">
                  El comentario es obligatorio.
                </div>
                <!-- <div>
                  <p>Rating:</p>
                  <input type="radio" value="1" name="rating">
                  <label>1</label>
                  <input type="radio" value="2" name="rating">
                  <label>2</label>
                  <input type="radio" value="3" name="rating">
                  <label>3</label>
                  <input type="radio" value="4" name="rating">
                  <label>4</label>
                  <input type="radio" value="5" name="rating">
                  <label>5</label>
                </div> -->
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-end
                  rounded-b-md border-t-2 border-neutral-100 border-opacity-100
                  p-4">
                  <button
                    type="button"
                    class="inline-block rounded bg-primary-100 px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal
                    text-primary-700 transition duration-150 ease-in-out
                    hover:bg-primary-accent-100 focus:bg-primary-accent-100
                    focus:outline-none focus:ring-0
                    active:bg-primary-accent-200"
                    data-te-modal-dismiss
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Cerrar
                  </button>
                  <button
                    type="submit"
                    class="ml-1 inline-block rounded bg-primary px-6 pt-2.5 pb-2
                    text-xs font-medium uppercase leading-normal text-white
                    shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150
                    ease-in-out hover:bg-primary-600
                    hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:bg-primary-600
                    focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]
                    focus:outline-none focus:ring-0 active:bg-primary-700
                    active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    data-te-modal-dismiss
                    [disabled]="addReviewForm.invalid">
                    Añadir reseña
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
