<div class="w-full h-full sticky bg-zinc-900 pt-20">
  <div class="">
    <h1 class="mt-50 text-center mb-4 text-6xl font-extrabold leading-none
      tracking-tight text-gray-900 md:text-6xl lg:text-6xl dark:text-white">CONOCE
      NUESTRO JUEGO</h1>
  </div>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">

          <h2 class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6">
            Fireboy & Watergirl
          </h2>
          <p class="text-white text-base md:text-lg">
            Este juego esta inspirado en el juego de Fireboy & Watergirl pero
            con mas personaje y Online!
          </p>
        </div>
        <div class="flex items-center space-x-3">
        </div>
      </div>
      <img alt="logo" width=450 height=450
        src="./assets/images/characters/fireboy-watergirl.jpg" />
    </div>
  </div>



  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">

      <img alt="logo" width=300 height=300
        src="./assets/images/characters/Fireboy.png" />


      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">

        <div class="max-w-xl mb-6">

          <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-bold tracking-tight
            text-white sm:text-4xl sm:leading-none max-w-lg mb-6">
            Fireboy
          </h2>
          <p class="text-white text-base md:text-lg">Lorem Ipsum is so cool and
            awesome to act and so cool to think. And very awesome to eat and
            talk.

          </p>
        </div>
        <div class="flex items-center space-x-3">

        </div>
      </div>
    </div>
  </div>

  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">

          <h2 class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6">
            Watergirl
          </h2>
          <p class="text-white text-base md:text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vero
            illum temporibus laboriosam, et vel reiciendis. Tenetur optio, aut
            voluptate culpa dicta ab delectus iste perferendis placeat maxime
            quos quas!
          </p>
        </div>
        <div class="flex items-center space-x-3">
        </div>
      </div>
      <img alt="logo" width=300 height=300
        src="./assets/images/characters/Watergirl.png" />
    </div>
  </div>



  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">

      <img alt="logo" width=300 height=300
        src="./assets/images/characters/Rockboy.png" />


      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">

        <div class="max-w-xl mb-6">

          <h2 class="font-sans text-3xl sm:mt-0 mt-6 font-bold tracking-tight
            text-white sm:text-4xl sm:leading-none max-w-lg mb-6">
            Rockboy
          </h2>
          <p class="text-white text-base md:text-lg">Lorem Ipsum is so cool and
            awesome to act and so cool to think. And very awesome to eat and
            talk.

          </p>
        </div>
        <div class="flex items-center space-x-3">

        </div>
      </div>
    </div>
  </div>


  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl
    md:px-24 lg:px-8 lg:py-20">
    <div class="flex flex-col items-center justify-between w-full mb-10
      lg:flex-row">
      <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
        <div class="max-w-xl mb-6">

          <h2 class="font-sans text-3xl font-bold tracking-tight text-white
            sm:text-4xl sm:leading-none max-w-lg mb-6">
            Cloudgirl
          </h2>
          <p class="text-white text-base md:text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vero
            illum temporibus laboriosam, et vel reiciendis. Tenetur optio, aut
            voluptate culpa dicta ab delectus iste perferendis placeat maxime
            quos quas!
          </p>
        </div>
        <div class="flex items-center space-x-3">
        </div>
      </div>
      <img alt="logo" width=300 height=300
        src="./assets/images/characters/Cloudgirl.png" />
    </div>
  </div>


  <div class="">
    <h1 class="mt-50 text-center mb-4 text-6xl font-extrabold leading-none
      tracking-tight text-gray-900 md:text-6xl lg:text-6xl dark:text-white">DESCÁRGATELO
      Y JUEGA</h1>
  </div>
  <div
    class="grid grid-cols-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6
    pb-12">
    <img alt="logo" width=300 height=300
      src="./assets/images/characters/falling/Fireboy_cae.gif" />
    <img alt="logo" width=300 height=300
      src="./assets/images/characters/falling/Watergirl_cae.gif" />
    <img alt="logo" width=300 height=300
      src="./assets/images/characters/falling/Rockboy_cae.gif" />
    <img class="m-11" alt="logo" width=300 height=300
      src="./assets/images/characters/falling/Cloudgirl_cae.gif" />
  </div>
</div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900
        tracking-widest">NUESTRAS RESEÑAS</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Usuarios que ya
        han probado este increible juego comentan esto!</p>
    </div>

    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2" *ngFor="let review of reviews | paginate : {
        itemsPerPage: ipp, currentPage: cp }">
        <div class="h-full flex sm:flex-row flex-col items-center
          sm:justify-start justify-center text-center sm:text-left">
          <img alt="img" class="flex-shrink-0 rounded-full w-48 h-48
            object-cover object-center sm:mb-0 mb-4"
            src="./assets/images/{{review.profileUrl}}">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">{{review.username}}</h2>
            <p class="mb-4">{{review.comment}}</p>
            <span class="inline-flex">
              <button class="text-white bg-gradient-to-r from-blue-500
                via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4
                focus:outline-none focus:ring-blue-300
                dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5
                py-2.5 text-center mr-2 mb-2" (click)="getReview(review)">MOSTRAR</button>
              <button class="text-white bg-gradient-to-r from-cyan-400
                via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4
                focus:outline-none focus:ring-cyan-300
                dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5
                py-2.5 text-center mr-2 mb-2" (click)="modifyReview(review)"
                data-bs-toggle="modal" data-bs-target="#editModal">EDITAR</button>
              <button class="text-white bg-gradient-to-r from-red-400
                via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4
                focus:outline-none focus:ring-red-300 dark:focus:ring-red-800
                font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2
                mb-2" (click)="deleteReview(review)">ELIMINAR</button>
              <div *ngIf="showGet==true">
                <button (click)="ngOnInit()">Volver</button>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <pagination-controls
        (pageChange)="cp= $event">
      </pagination-controls>
    </div>
  </div>


  <div class="text-center">
    <button class="px-5 py-3 text-base font-medium text-center text-white
      bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none
      focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700
      dark:focus:ring-green-800" data-bs-toggle="modal"
      data-bs-target="#addModal">AÑADIR RESEÑA</button>
  </div>
</section>


<!-- Add Modal -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none
  overflow-x-hidden overflow-y-auto"
  id="addModal" tabindex="-1" aria-labelledby="addModalLabel"
  aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div
      class="modal-content border-none shadow-lg relative flex flex-col
      w-full
      pointer-events-auto bg-white bg-clip-padding rounded-md outline-none
      text-current">
      <form [formGroup]="addReviewForm" (ngSubmit)="addReview()">
        <div
          class="modal-header flex flex-shrink-0 items-center
          justify-between
          p-4 border-b border-gray-200 rounded-t-md">
          <input type="text" class="text-xl font-medium leading-normal
            text-gray-800"
            id="addModalLabel" placeholder="Nombre de usuario"
            formControlName="username">
          <button type="button"
            class="btn-close box-content w-4 h-4 p-1 text-black border-none
            rounded-none opacity-50 focus:shadow-none focus:outline-none
            focus:opacity-100 hover:text-black hover:opacity-75
            hover:no-underline"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body relative p-4">
          <textarea rows="6" cols="43"
            placeholder="Escribe tu reseña..." id="comment"
            formControlName="comment"></textarea>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center
          justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button class="px-6
            py-2.5
            bg-purple-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-purple-700 hover:shadow-lg
            focus:bg-purple-700 focus:shadow-lg focus:outline-none
            focus:ring-0
            active:bg-purple-800 active:shadow-lg
            transition
            duration-150
            ease-in-out" data-bs-dismiss="modal">CERRAR</button>
          <button type="submit" class="px-6
            py-2.5
            bg-blue-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none
            focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out
            ml-1">AÑADIR</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Edit Modal -->

<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none
  overflow-x-hidden overflow-y-auto"
  id="editModal" tabindex="-1" aria-labelledby="editModalLabel"
  aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none">
    <div *ngFor="let review of reviewToModify"
      class="modal-content border-none shadow-lg relative flex flex-col
      w-full
      pointer-events-auto bg-white bg-clip-padding rounded-md outline-none
      text-current">
      <div
        class="modal-header flex flex-shrink-0 items-center justify-between
        p-4 border-b border-gray-200 rounded-t-md">
        <h5 class="text-xl font-medium leading-normal text-gray-800"
          id="editModalLabel">{{review.username}}</h5>
        <button type="button"
          class="btn-close box-content w-4 h-4 p-1 text-black border-none
          rounded-none opacity-50 focus:shadow-none focus:outline-none
          focus:opacity-100 hover:text-black hover:opacity-75
          hover:no-underline"
          data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="updateReviewForm"
        (ngSubmit)="updateReview(review)">
        <div class="modal-body relative p-4">
          <textarea rows="6" cols="43"
            placeholder="{{review.comment}}" id="comment"
            formControlName="comment"></textarea>
        </div>
        <div
          class="modal-footer flex flex-shrink-0 flex-wrap items-center
          justify-end p-4 border-t border-gray-200 rounded-b-md">
          <button class="px-6
            py-2.5
            bg-purple-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-purple-700 hover:shadow-lg
            focus:bg-purple-700 focus:shadow-lg focus:outline-none
            focus:ring-0
            active:bg-purple-800 active:shadow-lg
            transition
            duration-150
            ease-in-out" data-bs-dismiss="modal">CERRAR</button>
          <button type="submit" class="px-6
            py-2.5
            bg-blue-600
            text-white
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none
            focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out
            ml-1">CONFIRMAR CAMBIOS</button>
        </div>
      </form>
    </div>
  </div>
</div>