
<section class="bg-gray-900 py-20">
  <div class="py-8 lg:py-16 px-4  lg:w-1/4 md:w-1/2 mx-auto max-w-screen-md bg-gray-600 md:rounded-3xl ">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-center text-white"
    >
      Registrate
    </h2>
    <p
      class="mb-4 font-light text-center text-gray-400 sm:text-sm"
    >
      Unete a nuestra comunidad y comparte tu experiencia con los demas.
    </p>

    <div
      *ngIf="register_message == 'error'"
      class="flex p-4 mt-4 mb-4 text-sm rounded-lg bg-gray-800 text-red-400"
      role="alert"
    >
      <svg
        aria-hidden="true"
        class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">ERROR!</span> No se ha podido modificar el
        usuario.
      </div>
    </div>

    <div
      *ngIf="register_message == 'duplicated'"
      class="flex p-4 mt-4 mb-4 text-sm rounded-lg bg-gray-800 text-red-400"
      role="alert"
    >
      <svg
        aria-hidden="true"
        class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">ERROR!</span> Este correo electrónico ya esta
        registrado.
      </div>
    </div>

    <div
      *ngIf="register_message == 'success'"
      class="flex p-4 mt-4 mb-4 text-sm rounded-lg bg-gray-800 text-green-400"
      role="alert"
    >
      <svg
        aria-hidden="true"
        class="flex-shrink-0 inline w-5 h-5 mr-3"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
          clip-rule="evenodd"
        ></path>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">Correcto</span> Te has registrado con exito!
      </div>
    </div>

    <form
      class="space-y-4"
      [formGroup]="registerForm"
      (ngSubmit)="registerUser()"
    >
      <div>
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-white"
          >Username</label
        >
        <input
          type="text"
          name="username"
          id="username"
          formControlName="username"
          placeholder="Nombre"
          class="border  sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          aria-label="disabled input"
        />
        <div
          *ngIf="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.errors &&
            registerForm.get('username')?.dirty &&
            registerForm.get('username')?.touched
          "
        >
          <small
            class="text-red-600"
            *ngIf="registerForm.get('username')?.hasError('required')"
          >
            El nombre de usuario es obligatorio
          </small>
          <small
            class="text-red-600"
            *ngIf="registerForm.get('username')?.hasError('minlength')"
          >
            El nombre de usuario debe tener como minimo 3 caráctereso
          </small>
        </div>
      </div>
      <div>
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-white"
          >Correo electrónico</label
        >
        <input
          type="email"
          name="email"
          id="email"
          formControlName="email"
          class="border  sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          placeholder="name@company.com"
          required=""
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.errors &&
            registerForm.get('email')?.dirty
          "
        >
          <small
            class="text-red-600"
            *ngIf="registerForm.get('email')?.hasError('required')"
          >
            El correo electrónico es obligatorio
          </small>
          <small
            class="text-red-600"
            *ngIf="registerForm.get('email')?.hasError('email')"
          >
            Este correo electrónico no tiene el formato adecuado
          </small>
        </div>
      </div>
      <div>
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-white"
          >Contraseña</label
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          formControlName="password"
          required=""
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.errors &&
            registerForm.get('password')?.dirty
          "
        >
          <small
            class="text-red-600"
            *ngIf="registerForm.get('password')?.hasError('required')"
          >
            La contraseña es obligatorio
          </small>
          <small
            class="text-red-600"
            *ngIf="registerForm.get('password')?.hasError('minlength')"
          >
            La contraseña debe tener 8 caracteres como minimo
          </small>
        </div>
      </div>

      <div>
        <label
          for="confirm_password"
          class="block mb-2 text-sm font-medium text-white"
        >
          Confirmar contraseña</label
        >
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="••••••••"
          class=" border sm:text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          formControlName="confirm_password"
          appMatchPassword
          [password]="this.registerForm.value.password!"
          required=""
        />
        <div
          *ngIf="
            registerForm.get('confirm_password')?.invalid &&
            registerForm.get('confirm_password')?.errors &&
            registerForm.get('confirm_password')?.dirty
          "
        >
          <small
            class="text-red-600"
            *ngIf="registerForm.get('confirm_password')?.hasError('required')"
          >
            La contraseña es obligatorio
          </small>
          <small
            class="text-red-600"
            *ngIf="registerForm.get('confirm_password')?.hasError('fail')"
          >
            La contraseña no coincide
          </small>
        </div>
      </div>

      <button
        type="submit"
        class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primary-700 focus:ring-primary-800"
        [disabled]="registerForm.invalid"
      >
        Registrarse
      </button>
    </form>
  </div>
</section>
