<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-black">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <img
        src="./assets/images/logo-white.png"
        class="h-6 mr-3 sm:h-20"
        alt="logo"
      />L
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
        >The Elements</span
      >
    </a>
    <div class="flex items-center justify-items-center">
      <div
        id="nav-icon1"
        [ngClass]="{ open: showMenu }"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden"
        (click)="toggleNavbar()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div
      [ngClass]="{ hidden: !showMenu }"
      class="items-center justify-between w-full md:flex md:w-auto"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
            aria-current="page"
            >Home</a
          >
        </li>
        <li>
          <a
            href="/features"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Features</a
          >
        </li>
        <li>
          <a
            href="/team"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Team</a
          >
        </li>
        <li>
          <a
            href="/multimedia"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Multimedia</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Contact</a
          >
        </li>
        <li>
          <a
            href="/users"
            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Users</a
          >
        </li>
        <li *ngIf="isLoggedIn; else logout">
          <a
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            (click)="getLogout()"
          >
            <i class="fa-solid fa-user"></i> Log Out
          </a>
        </li>
        <ng-template #logout>
          <li>
            <a
              href="/login"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <i class="fa-solid fa-user"></i> Log In
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
